@import "tailwindcss";

@theme {
  --color-primary: #008080;
  --color-secondary: #40E0D0;
  --color-accent: #FF7F50;
  --color-background: #F0F8FF;
  --color-text: #333333;

  --font-heading: var(--font-playfair);
  --font-body: var(--font-open-sans);
}

@layer utilities {
  .bg-primary {
    background-color: #008080;
  }

  .bg-secondary {
    background-color: #40E0D0;
  }

  .bg-accent {
    background-color: #FF7F50;
  }

  .text-primary {
    color: #008080;
  }

  .text-secondary {
    color: #40E0D0;
  }

  .text-accent {
    color: #FF7F50;
  }

  .border-primary {
    border-color: #008080;
  }

  .border-secondary {
    border-color: #40E0D0;
  }

  .border-accent {
    border-color: #FF7F50;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Base styles using the new theme variables */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}